<ion-header>
  <ion-toolbar>
    <ion-title>Terrain de test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list radio-group [(ngModel)]="theme">
    <ion-list-header>
      <ion-label>Thèmes</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Clair</ion-label>
      <ion-radio slot="start" value="light" checked (click)="changeTheme('theme-light')"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Noir</ion-label>
      <ion-radio slot="start" value="dark" (click)="changeTheme('theme-dark')" ></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Noir ++</ion-label>
      <ion-radio slot="start" value="black" (click)="changeTheme('theme-black')" ></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Rouge</ion-label>
      <ion-radio slot="start" value="red" (click)="changeTheme('theme-red')" ></ion-radio>
    </ion-item>
  </ion-list>
  <ion-item *ngIf="cordovaAvailable">
    <p *ngIf="light != -1">Luminosité actuelle : {{ light }}</p>
    <p *ngIf="light == -1">Le capteur ne s'est pas lancé, tentative de relance...</p>
  </ion-item>
  <ion-item *ngIf="!cordovaAvailable">
    <p>Cordova n'est pas supporté</p>
  </ion-item>
</ion-content>
