<ion-list>
  <ion-list-header>
    <ion-label>Todo-list</ion-label>
  </ion-list-header>

  <ion-item>
    <ion-label>Default</ion-label>
    <ion-checkbox slot="end" checked></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Primary</ion-label>
    <ion-checkbox slot="end" checked color="primary"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Secondary</ion-label>
    <ion-checkbox slot="end" checked color="secondary"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Tertiary</ion-label>
    <ion-checkbox slot="end" checked color="tertiary"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Success</ion-label>
    <ion-checkbox slot="end" checked color="success"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Warning</ion-label>
    <ion-checkbox slot="end" checked color="warning"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Danger</ion-label>
    <ion-checkbox slot="end" checked color="danger"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Light</ion-label>
    <ion-checkbox slot="end" checked color="light"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Medium</ion-label>
    <ion-checkbox slot="end" checked color="medium"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Dark</ion-label>
    <ion-checkbox slot="end" checked color="dark"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Unchecked by Default</ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Disabled</ion-label>
    <ion-checkbox slot="end" disabled></ion-checkbox>
  </ion-item>

</ion-list>