<ion-list>
  <!-- MOBILE -->
  <div class="mobile">
    <ion-list-header>
      Supprimer en swippant
      <button item-end ion-button icon-only clear (click)="addThing()">
        <ion-icon color="primary" name="add-circle"></ion-icon>
      </button>
    </ion-list-header>
    <ion-item-sliding (ionDrag)="selectingItem(slidingItem)" #slidingItem *ngFor="let todo of todos; let i = index; ">
      <ion-item #item>
        {{todo.title}}
      </ion-item>
      <ion-item-options icon-start (ionSwipe)="deleteItem(todos, i)">
        <button color="danger" ion-button expandable (click)="deleteItem(todos, i)">
          <ion-icon name="arrow-dropleft"></ion-icon>
          <ion-icon name="trash"></ion-icon>
        </button>
        <button color="secondary" ion-button (click)="closeOption()">
            <ion-icon name="arrow-dropright"></ion-icon>
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </div>
  <!-- DESKTOP -->
  <div class="desktop">
    <ion-list-header>
      Supprimer en cliquant
      <button item-end ion-button icon-only clear (click)="addThing()">
        <ion-icon color="primary" name="add-circle"></ion-icon>
      </button>
    </ion-list-header>
    <ion-item-sliding swipeEnabled="false" #slidingItem *ngFor="let todo of todos; let i = index; ">
      <ion-item #item>
        <ion-icon item-start color="danger" name="trash" (click)="openOption(slidingItem, item, $event)"></ion-icon>
        {{todo.title}}
      </ion-item>
      <ion-item-options icon-start>
        <button color="secondary" ion-button expandable (click)="closeOption()">
          Annuler
        </button>
        <button color="danger" ion-button expandable (click)="deleteItem(todos, i)">
          <ion-icon name="trash"></ion-icon>
          Terminé
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </div>
</ion-list>