todo-list {
    @media all and (min-width: 575px) {

        .desktop{
            display:block;
            min-width: 75%;
        }
        .mobile{display:none;}
    
    }

    @media all and (max-width: 575px) {

        .desktop{display:none;}
        .mobile{display:block;}
    
    }

    .displayAll {
        white-space: normal;
    }
}
