<ion-header>

  <ion-navbar>
    <ion-title>Projets</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <div *ngIf="!useLocalisation && canUseLocalisation">
    <button ion-button full icon-start (click)="localizate()">
        <ion-icon name="pricetag"></ion-icon>
        Filtré par nom
    </button>
  </div>
  <div *ngIf="useLocalisation && canUseLocalisation">
    <button ion-button full icon-start (click)="sortByName()">
        <ion-icon name="compass"></ion-icon>
        Filtré par proximité
    </button>
  </div>
  <div *ngIf="!canUseLocalisation">
      <button class="mobile disabled" ion-button full icon-start>
          <ion-icon name="pricetag"></ion-icon>
          Filtré par nom
      </button>
  </div>


  <ion-card *ngFor="let item of items" (click)="itemTapped(item)">
      <img [src]="item.image" />
      <div class="card-title">{{item.title}}</div>
      <div class="card-subtitle" *ngIf="item.problem && !isAlertOver">
        <ion-icon color="danger" name="alert"></ion-icon>
        {{item.problem}}
      </div>
    </ion-card>
</ion-content>