page-projects {
    
    ion-content {
        text-align: center;
    }
    ion-card {
        position: relative;
        display: inline-block;
        text-align: center;
        max-width: 400px;
        max-height: 250px;
    }
    .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
    }
    .card-subtitle {
        font-size: 1.5em;
        position: absolute;
        top: 67%;
        width: 100%;
        color: #F53D3D;
        text-shadow: 1px 1px 1px #000;
    }

    .disabled {
        pointer-events: none;
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
    }
}
