<ion-header>
  <ion-toolbar>
    <ion-title>Terrain de test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label>Thèmes</ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>Clair</ion-label>
        <ion-radio slot="start" value="light" checked></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Noir</ion-label>
        <ion-radio slot="start" value="black"></ion-radio>
      </ion-item>
    </ion-radio-group>
</ion-list>
</ion-content>
